@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
}

body{
    background-color: hsl(212, 45%, 89%);
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    background-color: #fff;
    max-width: 250px;
    max-height: 390px;
    padding: 1rem;
    border-radius: 1.5rem;
}

div img {
    width: 100%;
    border-radius: 0.5rem;
}

div h1,
div p {
    text-align: center;
    padding: 5px 12px;
}

div h1 {
    margin-top: 5px;
    color: hsl(218, 44%, 22%);
    font-size: 19px;
}

div p {
    margin-bottom: 1rem;
    color: hsl(220, 15%, 55%);
    font-size: 13px;
}

@media (max-width: 375px){

    div p {
        padding: 0.5rem 15px;
    }

}