@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --gold-light: hsl(39, 89%, 49%);
    --gold-medium: hsl(28, 76%, 44%);
    --blue-light: hsl(230, 89%, 62%);
    --blue-medium: hsl(229, 64%, 46%);
    --red-light: hsl(349, 71%, 52%);
    --red-medium: hsl(347, 75%, 35%);
    --purple-light: hsl(261, 73%, 60%);
    --purple-medium: hsl(261, 51%, 44%);
    --aqua-blue-light: hsl(189, 59%, 53%);
    --aqua-blue-medium: hsl(194, 58%, 42%);

    --dark-text: hsl(229, 25%, 31%);
    --score-text: hsl(229, 64%, 46%);
    --dark-light: hsl(246, 11%, 37%);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background: radial-gradient(circle, rgba(31, 55, 86, 1) 0%, rgba(20, 22, 57, 1) 100%);
}

#mainContent {
    overflow: hidden;
    min-height: 100vh;
    width: 100%;

    overflow-x: auto;

    display: flex;
    align-items: center;

    flex-direction: column;


    .header {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-top: 3.5rem;
        padding: 15px 22px;

        outline: 3px solid var(--dark-light);
        border-radius: 20px;

        h1 {
            display: contents;

            img {
                width: 180px;
                object-fit: contain;
            }
        }

        .score {
            width: 16%;
            min-height: 100%;

            padding: 20px;

            background-color: #fff;
            border-radius: 10px;

            >h2 {
                color: var(--score-text);
                font-size: 0.9rem;
                text-align: center;
                font-weight: 600;
                letter-spacing: 1px;
            }

            >span {
                display: block;

                color: var(--dark-light);

                line-height: 95%;

                font-size: 3.5rem;
                font-weight: 700;
                text-align: center;
            }
        }
    }

    .content {
        margin-block: 5rem auto;
        width: 100%;

        .list-playable-options {
            --outline-size: clamp(1.8rem, 3.2vmin, 2.6rem);

            list-style: none;
            width: 100%;

            margin: 0 auto;

            background: url("./images/bg-triangle.svg") no-repeat bottom;
            background-size: 23%;

            .playable-options {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: calc(5rem + var(--outline-size));

                &.last-row {
                    margin-top: calc(5rem + var(--outline-size));
                }
            }
        }

        .playable-option {
            all: unset;
            display: block;

            min-width: clamp(120px, calc((10vw + 10vw) / 2), 400px);

            aspect-ratio: 1;
            border-radius: 50%;

            outline: var(--outline-size) solid #000;

            cursor: pointer;

            &#paper {
                background: url("./images/icon-paper.svg") no-repeat center #fff;
                background-size: 40%;
                outline-color: var(--blue-light);
                box-shadow: 0px 0.65vw 0px var(--outline-size) var(--blue-medium), inset 0px 0.75vw 2px 0px hsla(246, 11%, 37%, 0.308);
            }

            &#scissors {
                background: url("./images/icon-scissors.svg") no-repeat center #fff;
                background-size: 40%;
                outline-color: var(--gold-light);
                box-shadow: 0px 0.65vw 1px var(--outline-size) var(--gold-medium), inset 0px 0.75vw 2px 0px hsla(246, 11%, 37%, 0.308);
            }

            &#rock {
                background: url("./images/icon-rock.svg") no-repeat center #fff;
                background-size: 40%;
                outline-color: var(--red-light);
                box-shadow: 0px 0.65vw 1px var(--outline-size) var(--red-medium), inset 0px 0.75vw 2px 0px hsla(246, 11%, 37%, 0.308);
            }
        }

        .results {
            --outline-size: clamp(1.8rem, 4.5vmin, 100px);

            margin: 0 auto;

            width: 100%;
            display: none;
            align-items: center;
            justify-content: center;

            gap: 10rem;

            &:has(.winner) {
                gap: 8rem;
            }


            .left-side,
            .right-side {
                width: min-content;

                h3 {
                    margin-bottom: 6.5rem;

                    font-size: 2rem;
                    font-weight: 500;
                    text-align: center;

                    color: #fff;
                }

                .playable-option {
                    position: relative;
                    margin: 0 auto;
                    min-width: clamp(120px, calc((24vw + 24vh) / 2), 400px);
                    outline: var(--outline-size) solid #000;

                    cursor: default;

                    &.selecting {
                        outline: transparent;
                        background: #0000001e;
                    }

                    &.winner::after {
                        z-index: -1;

                        content: "";
                        position: absolute;
                        top: calc(clamp(1.8rem, 28.8vmin, 30rem) * -1);
                        left: calc(clamp(1.8rem, 28.8vmin, 30rem) * -1);

                        min-width: clamp(120px, 95vmin, 2000px);
                        background: radial-gradient(circle at center,
                                hsla(228, 17%, 35%, 0.521) 0%,
                                hsla(228, 17%, 35%, 0.521) 44.5%,

                                hsla(228, 17%, 35%, 0.315) 45%,
                                hsla(228, 17%, 35%, 0.315) 56.5%,

                                hsla(228, 17%, 35%, 0.199) 57%,
                                hsla(228, 17%, 35%, 0.199) 100%);

                        aspect-ratio: 1;
                        border-radius: 50%;
                    }
                }
            }

            .middle-side {
                display: none;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 15px;

                h2 {
                    font-size: 5rem;
                    color: #fff;
                    line-height: 80%;
                    margin-bottom: 1rem;
                }

                #playAgain {
                    all: unset;
                    width: 100%;

                    padding-block: 1rem;

                    text-align: center;
                    font-size: 1.4rem;
                    font-weight: 600;

                    background-color: #fff;
                    border-radius: 10px;

                    transition: 0.3s ease;
                    cursor: pointer;

                    &:hover {
                        color: var(--red-light);
                    }
                }
            }
        }

    }

    .footer {
        margin-block: auto 1.8rem;

        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        padding-inline: 2rem;

        #rules {
            all: unset;
            display: block;

            padding: 8px 30px;
            border-radius: 8px;

            font-weight: 500;
            font-size: 1.3rem;
            letter-spacing: 2px;

            color: #fff;
            border: 1px solid #fff;
            cursor: pointer;
        }


    }

}

#overlay {
    display: none;
    width: 100%;
    min-height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    background-color: #00000065;
}

.modal {
    display: none;
    width: 50vmin;
    position: absolute;
    left: 50%;
    top: 50%;

    padding: 24px 30px 30px;

    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 4px 0px var(--dark-light);
    transform: translate(-50%, -50%);

    .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
            font-size: 2rem;
            color: var(--dark-light);
        }

        #closeModal {
            all: unset;

            width: 20px;
            height: 20px;

            background: url('./images/icon-close.svg') no-repeat center transparent;
            background-size: 100%;

            cursor: pointer;
        }
    }

    .modal-content {
        margin-top: 3rem;
        width: 100%;

        img {
            display: block;
            margin: 0 auto;
            width: 90%;
        }
    }
}