@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@keyframes growing {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes falling {
    0% {
        transform: translateY(-50vh) rotateZ(8deg);
    }

    40% {
        transform: translateY(5vh) rotateZ(8deg);
    }

    60% {
        transform: translateY(-5vh) rotateZ(-8deg);
    }

    60% {
        transform: translateY(2.5vh) rotateZ(-16deg);
    }

    100% {
        transform: translateY(0) rotateZ(0);
    }
}

@keyframes translateLeft {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-58.1%);
    }
}

@keyframes translateRight {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(58.1%);
    }
}

@keyframes expandGlow {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    70% {
        opacity: 0.9;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

:root {
    --gold-light: hsl(39, 89%, 49%);
    --gold-medium: hsl(28, 76%, 44%);
    --blue-light: hsl(230, 89%, 62%);
    --blue-medium: hsl(229, 64%, 46%);
    --red-light: hsl(349, 71%, 52%);
    --red-medium: hsl(347, 75%, 35%);
    --purple-light: hsl(261, 73%, 60%);
    --purple-medium: hsl(261, 51%, 44%);
    --aqua-blue-light: hsl(189, 59%, 53%);
    --aqua-blue-medium: hsl(194, 58%, 42%);

    --dark-text: hsl(229, 25%, 31%);
    --score-text: hsl(229, 64%, 46%);
    --dark-light: hsl(246, 11%, 37%);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background: radial-gradient(circle, rgba(31, 55, 86, 1) 0%, rgba(20, 22, 57, 1) 100%);
}

#mainContent {
    overflow: hidden;
    min-height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;

    flex-direction: column;


    .header {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-top: 3.5rem;
        padding: 15px 22px;

        outline: 3px solid var(--dark-light);
        border-radius: 20px;

        h1 {
            display: contents;

            img {
                width: 180px;
                object-fit: contain;
            }
        }

        .score {
            min-height: 100%;

            padding: 20px 30px;

            background-color: #fff;
            border-radius: 10px;

            >h2 {
                color: var(--score-text);
                font-size: 0.9rem;
                text-align: center;
                font-weight: 600;
                letter-spacing: 1px;
            }

            >span {
                display: block;

                color: var(--dark-light);

                line-height: 95%;

                font-size: 3.5rem;
                font-weight: 700;
                text-align: center;
            }
        }
    }

    .content {
        margin-block: 5rem auto;
        width: 100%;

        .list-playable-options {
            --outline-size: clamp(0.8rem, 3.2vmin, 2.6rem);

            list-style: none;
            width: 100%;

            margin: 0 auto;

            background: url("./images/bg-triangle.svg") no-repeat center;
            background-size: clamp(26vh, 21%, 23%);

            .playable-options {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: calc(var(--outline-size) * 4);

                &.last-row {
                    margin-top: calc(var(--outline-size) * 3);
                }

                .playable-option {
                    transition: 0.3s;

                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }
        }

        .playable-option {
            all: unset;
            display: block;

            min-width: clamp(60px, calc((10vw + 10vw) / 2), 400px);

            aspect-ratio: 1;
            border-radius: 50%;

            outline: var(--outline-size) solid #000;

            cursor: pointer;

            &#paper {
                background: url("./images/icon-paper.svg") no-repeat center #fff;
                background-size: 40%;
                outline-color: var(--blue-light);
                box-shadow: 0px 0.65vw 0px var(--outline-size) var(--blue-medium), inset 0px 0.75vw 2px 0px hsla(246, 11%, 37%, 0.308);
            }

            &#scissors {
                background: url("./images/icon-scissors.svg") no-repeat center #fff;
                background-size: 40%;
                outline-color: var(--gold-light);
                box-shadow: 0px 0.65vw 1px var(--outline-size) var(--gold-medium), inset 0px 0.75vw 2px 0px hsla(246, 11%, 37%, 0.308);
            }

            &#rock {
                background: url("./images/icon-rock.svg") no-repeat center #fff;
                background-size: 40%;
                outline-color: var(--red-light);
                box-shadow: 0px 0.65vw 1px var(--outline-size) var(--red-medium), inset 0px 0.75vw 2px 0px hsla(246, 11%, 37%, 0.308);
            }
        }

        .results {
            --outline-size: clamp(1.1rem, 4.5vmin, 3rem);

            margin: 0 auto;

            width: 100%;
            display: none;
            align-items: center;
            justify-content: center;

            gap: max(20vmin, 2rem);

            &:has(.winner) {
                gap: max(18vmin, 1.6rem);
            }

            .left-side,
            .right-side {
                width: min-content;

                h3 {
                    margin-bottom: 6.5rem;

                    font-size: 2rem;
                    font-weight: 500;
                    text-align: center;

                    text-wrap: nowrap;

                    color: #fff;
                }

                .playable-option {
                    position: relative;

                    margin: 0 auto;
                    min-width: clamp(80px, calc((14vw + 14vw) / 2), calc((24vw + 24vh) / 2));
                    outline: var(--outline-size) solid #000;

                    cursor: default;

                    &.selecting {
                        outline: transparent;
                        background: #0000001e;
                    }

                    &.winner::after {
                        content: "";
                        position: absolute;
                        z-index: -1;

                        top: calc(clamp(80px, calc((12.8vw + 12.8vw) / 2), calc((24vw + 24vh) / 2)) * -1);
                        left: calc(clamp(80px, calc((13.4vw + 13.4vw) / 2), calc((24vw + 24vh) / 2)) * -1);

                        min-width: calc(clamp(80px, calc((13.5vw + 13.5vw) / 2), calc((24vw + 24vh) / 2)) * 3);
                        aspect-ratio: 1;
                        border-radius: 50%;

                        background: radial-gradient(circle at center,
                                hsla(228, 17%, 35%, 0.521) 0%,
                                hsla(228, 17%, 35%, 0.521) 44.5%,

                                hsla(228, 17%, 35%, 0.315) 45%,
                                hsla(228, 17%, 35%, 0.315) 56.5%,

                                hsla(228, 17%, 35%, 0.199) 57%,
                                hsla(228, 17%, 35%, 0.199) 100%);


                        transform: scale(0);
                        transform-origin: center;
                        opacity: 0;

                        animation: expandGlow 0.6s ease-out forwards;
                    }

                }
            }

            .left-side .playable-option,
            .playable-option.growing {
                animation: growing 0.3s ease;
            }

            .left-side.translating {
                animation: translateLeft linear 300ms;
            }

            .right-side.translating {
                animation: translateRight linear 300ms;
            }

            .middle-side {
                display: none;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                min-width: 16.4%;
                gap: 15px;

                animation: falling 1.3s ease-out forwards;

                h2 {
                    width: 100%;
                    font-size: 5rem;
                    color: #fff;
                    line-height: 80%;
                    margin-bottom: 1rem;
                    text-align: center;
                }

                #playAgain {
                    all: unset;
                    width: 100%;

                    padding-block: 1rem;

                    text-align: center;
                    font-size: 1.4rem;
                    font-weight: 600;

                    background-color: #fff;
                    border-radius: 10px;

                    transition: 0.3s ease;
                    cursor: pointer;

                    &:hover {
                        color: var(--red-light);
                    }
                }
            }
        }

    }

    .footer {
        margin-block: auto 1.8rem;

        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        padding-inline: 2rem;

        #rules {
            all: unset;
            display: block;

            padding: 10px 40px;
            border-radius: 8px;

            font-weight: 500;
            font-size: 1.2rem;
            letter-spacing: 2px;

            color: #fff;
            border: 1px solid #fff;
            cursor: pointer;
        }


    }

}

#overlay {
    display: none;
    width: 100%;
    min-height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    background-color: #00000065;
}

.modal {
    display: none;
    width: 50vmin;
    position: absolute;
    left: 50%;
    top: 50%;

    padding: 24px 30px 30px;

    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 4px 0px var(--dark-light);
    transform: translate(-50%, -50%);

    .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
            font-size: 2rem;
            color: var(--dark-light);
        }

        #closeModal {
            all: unset;

            width: 20px;
            height: 20px;

            background: url('./images/icon-close.svg') no-repeat center transparent;
            background-size: 100%;

            cursor: pointer;
        }
    }

    .modal-content {
        margin-top: 3rem;
        width: 100%;

        img {
            display: block;
            margin: 0 auto;
            width: 90%;
        }
    }
}

@media (max-width: 1440px) {
    #mainContent {

        .header {
            margin-top: 2.5rem;
        }

        .content {
            margin-block: 3.4rem auto;

            .results {

                .left-side,
                .right-side {

                    h3 {
                        margin-bottom: 4.5rem;

                        font-size: 1.5rem;
                    }
                }

                .middle-side {
                    h2 {
                        font-size: 3rem;
                    }

                    #playAgain {
                        padding-block: 0.9rem;
                        font-size: 1.2rem;
                    }
                }
            }

        }

        .footer {
            margin-block: auto 1.5rem;

            #rules {
                font-size: 1rem;
            }
        }
    }

}

@media (max-width: 1024px) {
    #mainContent {

        .header {
            padding: 14px;

            h1>img {
                width: 130px;
                object-fit: contain;
            }

            .score {

                >h2 {
                    font-size: 0.8rem;
                }

                >span {
                    font-size: 2.5rem;
                }
            }
        }

        .content {
            margin-block: 2.5rem auto;

            .results {

                .left-side,
                .right-side {

                    h3 {
                        margin-bottom: 4rem;

                        font-size: 1.2rem;
                    }
                }
            }

        }

        .footer #rules {
            font-size: 0.8rem;
            padding: 8px 35px;
        }
    }

}

@media (max-width: 768px) {
    #mainContent {

        .header {
            width: 60%;
            padding: 10px;

            h1>img {
                width: 100px;
                object-fit: contain;
            }

            .score {

                >h2 {
                    font-size: 0.7rem;
                }

                >span {
                    font-size: 2rem;
                }
            }
        }
    }

}

@media (max-width: 375px) {
    #mainContent {

        .header {
            margin-top: 2.5rem;
            width: 70%;
            padding: 10px;

            h1>img {
                width: 80px;
                object-fit: contain;
            }

            .score {
                padding: 14px;

                >h2 {
                    font-size: 0.5rem;
                }

                >span {
                    font-size: 1.4rem;
                }
            }
        }

        .content {
            margin-block: 2.5rem auto;

            .results {

                .left-side,
                .right-side {

                    h3 {
                        margin-bottom: 3rem;

                        font-size: 1rem;
                    }
                }
            }

        }

        .footer #rules {
            font-size: 0.7rem;
            padding: 8px 30px;
        }
    }

}